@rendermode InteractiveServer
<AuthorizeView>
    <Authorized>
        Hello @context.User.Identity?.Name!
        <a href="logincontrol">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="logincontrol">Sign in with your social account</a>
    </NotAuthorized>
</AuthorizeView>
