@rendermode InteractiveServer
<AuthorizeView>
    <Authorized>
        Hello @context.User.Identity?.Name!
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/MicrosoftIdentity/Account/SignIn">Sign in with your social account</a>
    </NotAuthorized>
</AuthorizeView>
