@page "/"
@rendermode InteractiveServer
@using StorybookCabinPOCBlazor.Models
@inherits OwningComponentBase<StorybookCabinPOCBlazorService>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnvironment
@inject IHttpContextAccessor httpContextAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div style="text-align: center;">
            <h3>
                @((MarkupString)@WelcomeMessage)
            </h3>
            <h4>
                <br />
                <p>To get started, click on <b><a href="/game">Game</a></b> to play the game.</p>
            </h4>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>To get started, <a href="logincontrol">Sign in with your social account</a></p>
    </NotAuthorized>
</AuthorizeView>

@code {

    string WelcomeMessage = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;

        if (user.Identity != null)
        {
            if (user.Identity.IsAuthenticated)
            {
                try
                {
                    var Objectidentifier =
                    user.Claims.FirstOrDefault(
                    c => c.Type ==
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?
                    .Value;

                    var User = await Service.GetUserFromObjectidentifierAsync(Objectidentifier);
                    var credits = await Service.GetUserCreditsFromObjectidentifierAsync(Objectidentifier);

                    WelcomeMessage = $"<p>Welcome <b>{User.FirstName} {User.LastName}</b> to <b>Storybook Cabin POC</b> </p><p>You have <b>{credits}</b> credits to use.</p>";
                }
                catch
                {
                    WelcomeMessage = $"Welcome to Video Web Creator.";
                }
            }
        }
    }
}